html {
  font: 10px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: capitalize;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #dddddd;
  margin-bottom: 1rem;
}

.button {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(66, 66, 66);
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(64, 251, 226, 0.85);
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .hidden {
    visibility: hidden;
    margin-left: 0px;
  }

  .input {
    margin-bottom: 0;
  }
}
